*.frontend
__pycache__

# Generated subdirectories
/log/
/results/
/t/results/
/tmp_check/

# Binaries
/src/bin/pg_tde_archive_decrypt
/src/bin/pg_tde_change_key_provider
/src/bin/pg_tde_restore_encrypt

# Tool files
/typedefs-full.list
