# This file contains ignores for build artifacts from standard builds.
# Auxiliary files from local workflows, your preferred editor, etc. should
# be ignored locally using $GIT_DIR/info/exclude or ~/.gitexclude.

# Global excludes across all subdirectories
.vscode
__pycache__

# Tool files
/typedefs.list

# Meson subproject artifacts
/subprojects/.wraplock
/subprojects/packagecache
