@media print {
    /* Adjusts positioning of admonition icon */
  .md-typeset :is(.admonition-title,summary):before {
    top: 0.6rem;
    left: 0.6rem;
  }

}

.md-sidebar__inner {
  font-size: 0.65rem;   /* Font size */
  line-height: 1.6;
}

/* Banner container */
.edit-contrib-banner {
  display: flex;
  justify-content: center;    /* center horizontally */
  padding: 0.7rem 0;            /* top and bottom spacing of the banner */
  background-color: transparent;
}

/* Inner content stacked vertically */
.edit-contrib-banner .banner-content {
  display: flex;
  flex-direction: column;    /* stack vertically */
  align-items: center;       /* center horizontally */
  gap: 0.3rem;               /* small vertical gap between elements */
}

/* Edit link styling */
.edit-contrib-banner .edit-page-link {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--md-typeset-a-color);
}

/* Icon inside edit link */
.edit-contrib-banner .edit-page-icon svg {
  width: 1.4em;
  height: 1.4em;
  fill: currentColor;
  vertical-align: middle;
}

/* Divider line with small spacing */
.edit-contrib-banner .banner-divider {
  width: 40%;                 /* width of the line */
  border-top: 1px solid var(--md-typeset-a-color);
  opacity: 0.3;               /* subtle line */
  margin: 0.2rem 0;           /* smaller space above and below the line */
}

/* Contributing Guide smaller and below */
.edit-contrib-banner .contrib-link {
  font-size: 0.6rem !important;         /* smaller font */
  color: var(--md-typeset-a-color);
}
