name: Reusable build and test
on:
  workflow_call:
    inputs:
      pg_version:
        type: string
        required: true
      os:
        type: string
        required: true
      compiler:
        type: string
        required: true
      build_type:
        type: string
        required: true

env:
  artifact_name: build-${{ inputs.pg_version }}-${{ inputs.os }}-${{ inputs.compiler }}-${{ inputs.build_type }}
  CC: ${{ inputs.compiler }}

jobs:
  build:
    name: Build
    runs-on: ${{ inputs.os }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          path: src
          submodules: recursive
          ref: ${{ github.ref }}

      - name: Clone postgres repository
        uses: actions/checkout@v5
        with:
          path: postgres
          repository: percona/postgres.git
          ref: PSP_REL_${{ inputs.pg_version }}_STABLE

      # KMIP server don't support Python 3.12 for now: https://github.com/OpenKMIP/PyKMIP/pull/707
      - name: Downgrade python to 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: src/ci_scripts/ubuntu-deps.sh

      - name: Build postgres
        run: src/ci_scripts/build-and-install-psp.sh ${{ inputs.build_type }}

      - name: Build pg_tde
        run: src/ci_scripts/build.sh ${{ inputs.build_type }}

      - name: Add build and install to artifact tar file
        run: tar -czf artifacts.tar src postgres pginst

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.artifact_name }}
          overwrite: true
          path: |
            artifacts.tar
          retention-days: 1

  test:
    name: Test
    runs-on: ${{ inputs.os }}
    needs: build

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: ${{ env.artifact_name }}
          path: .

      - name: Extract artifact file
        run: tar -xzf artifacts.tar

      - name: Downgrade python to 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: src/ci_scripts/ubuntu-deps.sh

      - name: Setup kmip and vault
        run: src/ci_scripts/setup-keyring-servers.sh

      - name: Test pg_tde
        run: src/ci_scripts/test.sh

      - name: Report on test fail
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: log-test-${{ inputs.pg_version }}-${{ inputs.os }}-${{ inputs.compiler }}-${{ inputs.build_type }}
          path: |
            src/regression_install
            src/regression_install.log
            src/regression.diffs
            src/regression.out
            src/results
            src/t/results
            src/tmp_check
          retention-days: 3

  test-psp-with-tde:
    name: Test PSP with TDE enabled by default
    runs-on: ${{ inputs.os }}
    needs: build

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: ${{ env.artifact_name }}
          path: .

      - name: Extract artifact file
        run: tar -xzf artifacts.tar

      - name: Install dependencies
        run: src/ci_scripts/ubuntu-deps.sh

      - name: Test postgres with TDE as default access method
        run: src/ci_scripts/test-global-tde.sh --continue

      - name: Report on test fail
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: log-test-global-tde-${{ inputs.pg_version }}-${{ inputs.os }}-${{ inputs.compiler }}-${{ inputs.build_type }}
          path: |
            postgres/contrib/*/log
            postgres/contrib/*/regression.diffs
            postgres/contrib/*/regression.out
            postgres/contrib/*/results
            postgres/contrib/*/tmp_check
            postgres/src/bin/*/tmp_check
            postgres/src/test/*/log
            postgres/src/test/*/regression.diffs
            postgres/src/test/*/regression.out
            postgres/src/test/*/results
            postgres/src/test/*/tmp_check
          retention-days: 3
